html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.heading {
  background-image: linear-gradient(to right, #0f659a, #06283d);
  -webkit-background-clip: text;
  color: transparent;
  text-transform: capitalize;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
