.hero {
  width: 100vw;
  height: 100vh !important;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
.link {
  font-weight: bold;
  font-size: 1.6rem;
}
.video {
  width: 100vw;
  overflow-x: hidden;
  object-fit: cover;
  height: 100vh !important;
}
.link {
  padding: 0 1rem;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  font-family: "Montserrat", sans-serif;
}

.whatsapp {
  display: grid;
  place-items: center;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  font-family: "Montserrat", sans-serif;
}
.a {
  font-weight: bold;
}

@keyframes blinkCursor {
  from {
    border-right-color: black;
  }
  to {
    border-right-color: transparent;
  }
}
